@charset "UTF-8";
/* CSS Document */

body {
background-color: #8BA289;
font-family: verdana;
font-size: 12px;
}

header h1 {
	color: white;
}

main h3 {
font-family: courier new;
color: darkgreen;
}

main a {
	color: darkgreen;
}

a {
color: black;
}