@charset "UTF-8";
/* CSS Document */

body {
background-color: #8BA289;
font-family: verdana;
font-size: 12px;
margin: 0px;

}

header {
background-color: #576955;
width: 100%;
height: 300px;

	
}

header h1 {
	color: white;
	font-family: courier new;
	font-size: 60px
}

main {
height: 500px;
	
}

main h3 {
font-family: courier new;
color: darkgreen;
}

main a {
	color: darkgreen;
}

header a {
color: white;
}

footer {
color: #576955;
	
}

div {
margin: 40px;	
}